{% extends "base.html" %}
{% block content %}
<div class="container">
  <h3>Blog List</h3>
  {% for post in posts %}
      <h4><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title}}</a></h4>
      {{ post.modify_date|date:"N d, Y"}}
      <p><h5>{{ post.description }}</h5></p>
  {% endfor %}
</div>
<div class="container">
  <span>
    <h6>
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
      {% endif %}
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
      {% endif %}
    </h6>
  </span>
</div>
{% endblock content %}
