{% extends "base.html" %}
{% block title %}post_archive.html {% endblock %}
{% block content %}
<h4><strong>{{ object.title}}</strong></h4>
<h7><p class="date">{{ object.modify_date|date:"j F Y"}}</p></h7>
<div class = "container">
  <h5>{{ object.content|linebreaks }}</h5>
</div>
<center><h6><p class="other_posts">
    {% if object.get_previous_by_modify_date %}
        <a href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">
            &laquo;--previous
        </a>
    {% endif %}
    {% if object.get_next_by_modify_date %}
        | <a href="{{ object.get_next_post.get_absolute_url }}" title="View next post">
            next--&raquo;
        </a>
    {% endif %}
</p></h6></center>
<div>
  <b>TAGS: </b>
  {% load tagging_tags %}
  {% tags_for_object object as tags %}
  {% for tag in tags %}
    <a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
  {% endfor %}
  <a href="{% url 'blog:tag_cloud' %}"><i>[ TagCloud ]</i></a>
</div>
<br>
<div class="">
  {% load disqus_tags %}
  {% disqus_show_comments %}
</div>
{% endblock %}
